[tool.mypy]
exclude = [
  "tests/",
  "examples/",
  "setup.py",
  "venv/",
]
platform = "linux"
show_error_codes = true
follow_imports = "normal"
local_partial_types = true
strict_equality = true
no_implicit_optional = true
warn_incomplete_stub = true
warn_redundant_casts = true
warn_unused_configs = true
warn_unused_ignores = true
disable_error_code = [
    "import-untyped",
]
extra_checks = false
disallow_subclassing_any = true
disallow_untyped_decorators = false

# TODO: Enable these error codes below after cleaning up
disallow_incomplete_defs = false
disallow_untyped_defs = false
warn_return_any = false
check_untyped_defs = false
disallow_untyped_calls = false
warn_unreachable = false
